@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>
        I am Ethan Nicewanner, I'm 20 and a 2nd year (Cohort 37) in the Software and Game Development Degree program at Neumont College of Computer Science.
        I spend most of my free time playing games and working on things for my D&D campaign I'm going to be starting soon.
    </p>
</div>